@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.home {
  padding-top: 1rem;

  &__hero {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    color: #76549a;
  }

  &__image {
    max-width: 10rem;
  }
}
