@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.home {
  padding-top: 1rem;
  @include page-side-padding-mobile;

  &__hero {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: #94b49f;
    margin-top: 1rem;
  }

  &__bio {
    font-style: italic;
    color: #375843;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__image-container {
    background-color: white;
    margin-top: 1rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    text-align: center;
  }

  &__image {
    width: 10rem;
  }

  &__login {
    cursor: pointer;
    margin-top: 2rem;
    color: #0095f6;
    font-size: 1.4rem;
  }
}
