@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.expenses {
  display: flex;
  flex-direction: column;

  @include page-side-padding-desktop;

  &__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.2rem;
    &--name {
    }
    &--price {
      margin-left: 3rem;
    }
    &--type {
    }
  }

  &__title-container {
    display: flex;
  }
  &__sort {
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
    filter: opacity(0.5) drop-shadow(0 0 0 White);
  }
}
