.expense {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: fit-content;
  &__title {
    justify-content: flex-start;
    justify-content: space-evenly;
    text-align: left;
    width: 5rem;
    &--expense {
    }
    &--price {
      padding-left: 1.25rem;
    }
    &--type {
      text-align: right;
    }
  }
}
