.expenses {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 0.5rem;
  margin-top: 3rem;
  width: fit-content;

  &__titles {
    display: flex;
    flex-direction: row;
  }
  &__title {
    font-size: 1rem;
    width: 4rem;
    &--type {
      margin-left: 2rem;
    }
  }
}
