.expenses {
  display: flex;
  flex-direction: column;

  &__titles {
    display: flex;
    flex-direction: row;
  }
  &__title {
    font-size: 1.2rem;
    &--name {
    }
    &--price {
      padding-left: 25%;
    }
    &--type {
    }
  }
}
