.expense {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: fit-content;
  &:hover {
    background-color: grey;
  }
  &__title {
    justify-content: flex-start;
    justify-content: space-evenly;
    text-align: left;
    width: 5rem;
    &--expense {
    }
    &--price {
      padding-left: 1.25rem;
    }
    &--type {
      text-align: right;
    }
  }
  &__delete-image {
    max-width: 1rem;
    margin-left: 1rem;
    display: none;
  }
}

.expense:hover .expense__delete-image {
  background-color: grey;
  display: block;
}
