.expense {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  min-height: 0.5rem;
  justify-content: space-between;
  &:hover {
    background-color: grey;
  }
  &__title {
    justify-content: flex-start;
    justify-content: space-between;
    text-align: left;
    width: 3rem;
    &--expense {
    }
    &--price {
    }
    &--type {
      text-align: right;
    }
  }
  &__delete-image {
    max-width: 1rem;
    display: none;
  }
}

.expense:hover .expense__delete-image {
  background-color: grey;
  display: block;
}
