@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.track {
  padding-top: 1rem;
  @include page-side-padding-desktop;
  color: #94b49f;
  padding-bottom: 3rem;

  &__title {
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
  }

  &__form {
    margin-bottom: 5rem;
  }
  &__input {
    @include input;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
  }

  &__testData {
    @include input;
    width: fit-content;
  }
}
