@use "../styles/variables" as *;

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin page-side-padding-mobile {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin page-side-padding-tablet {
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin page-side-padding-desktop {
  padding-left: 3rem;
  padding-right: 3rem;
}
