// viewport breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 75rem;

$side-padding-mobile: 1.5rem;
$desktop-side-padding: 3rem;

$color-primary: #94b49f;
$color-secondary: rgb(190, 190, 190);
